.heroContainer {
    width: 100%;
    height: 800px;
    background: linear-gradient(90deg, rgba(15, 78, 165, 1) 25%, rgba(15, 165, 151, 1) 100%);
}

nav {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBarText {
    display: flex;
    gap: 30px;
}

.navBarText a {
    color: white;
    font-size: 24px;
}

.navBarText a:hover {
    scale: 1.2;
    cursor: pointer;
}

h1 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 38px;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
}

.heroGallery {
    width: 100%;
    height: 300px;
    position: relative;
    top: 320px;
    display: flex;
    align-items: end;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.card1 {
    width: 20%;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 3px 10px 5px grey;
}

.card2 {
    width: 15%;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 3px 10px 5px grey;
}

.card3 {
    width: 10%;
    height: 200px;
    object-fit: cover;
    box-shadow: 0 3px 10px 5px grey;
}