.heroContainer {
    background: linear-gradient(90deg, rgba(15, 78, 165, 1) 25%, rgba(15, 165, 151, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
    min-height: 20vh;
}

.heroContainer a:hover {
    scale: 1.2;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 300px;
}

.heroLogo {
    width: 20%;
}

h1 {
    font-size: 18px;
    position: absolute;
    top: 12%;
    left: 20%;
    right: 20%;
    color: white;
}

@media screen and (min-width:768px) {
    .heroContainer {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .heroContainer a {
        font-size: 18px;
    }

    h1 {
        font-size: 24px;
        top: 10%;
    }

    .heroLogo {
        width: 15%;
    }
}

@media screen and (min-width:1024px) {
    h1 {
        font-size: 28px;
        left: 20%;
        right: 20%;
    }

    .heroContainer {
        padding-left: 250px;
        padding-right: 250px;
    }
}

@media screen and (min-width:1440px) {
    h1 {
        font-size: 38px;
        left: 30%;
    }
}