.largecards {
    width:500px;
    height:500px;
    position:relative;
    box-shadow: 3px 3px 10px 5px grey;
    border-radius: 10px; 
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.largecards:hover{
    transform:translateY(-10px);
}

/* @keyframes enterTranslateY {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
} */