.headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    min-height: 20vh;
}

h2 {
    font-size: 34px;
    padding: 20px;
    color: #0f4ea5;
}

.headerLogo {
    width: 20%;
}

.logoReact {
    width: 20%;
}

.headerCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 15px;
}

@media screen and (min-width:768px) {
    .headerContainer {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    h2 {
        font-size: 34px;
        position: absolute;
        top: 20%;
        margin-top: 10px;
    }

    .headerCard {
        align-items: center;
        justify-content: space-around;
    }

    .headerLogo {
        width: 15%;
    }
}