.gallery {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    padding-top: 50px;
    padding-bottom: 100px;
}

.galleryTitle {
    text-align: center;
    padding-top: 50px;
}